@import 'nullstyle';
@import 'fonts';

body{
  font-family: 'Open Sans';
  color:#ffffff;
}

//Header
.header {
  background: url(../../img/header-background.png) rgba(0, 0, 0, 0.61) no-repeat fixed;
  background-size: cover;
  input{
    font-size:14px;
    font-family: 'Lato-ThinItalic';
    background-color: transparent;
    color:#fff;
    letter-spacing: 0.94px;
    font-weight: 600;
  }
}

.container-nav-bar{
  background-color: rgba(16, 22, 54, 0.2);
  /*
  overflow: hidden;
  position: fixed;
  top: 0;
   */
}

.nav-bar{
  padding:23px 0 10px;
}

.menu__item{
  margin-left:23px;
  font-weight: 600;
  transition: 0.2s;
  &:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  a{
    font-size: 12px;
    font-family: "Lato-Thin";
    color:#fff;
  }
}

#logo{
  font-size: 21px;
  font-family: 'Lato-Black';
  letter-spacing: 1.4px;
}

.header__span_dot{
  color:#4c76ff;
  font-size: 21px;
}

.header__title{
  margin-top:242px;
  margin-bottom: 0;
  font-size: 62px;
  font-family: "Lato-Black";
  .header__span_dot{
    font-size: 62px;
  }
}

.header__text_big{
  font-size: 48px;
  font-family: 'Lato-Thin';
}

.header__text_small{
  font-size: 18px;
  font-family: Lato-Thin;
  &:before, &:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #4c76ff;
    width: 28px;
    margin: 0 39px;
    transform: translateY(-4px);
  }
}

.header__span_thin{
  color:#4c76ff;
}

.icons{
  margin: 110px auto 122px;
  font-size:18px;
  a{
    color:#ffffff;
    opacity:.3;

    transition: 0.3s;
    &:hover{
      opacity:1;
    }
    i{
      margin-right:16px;
    }
  }
}

//Features
.features{
  background-color: #DDDDDD;
  color:black;
  text-align: center;
}

.section__title{
  padding-top:78px;
  font-family: 'Lato-Black';
  font-size: 28px;
  color:#4c76ff;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.section__text{
  color:#062033;
  opacity:0.2;
  font-size:18px;
  margin-top:25px;
  &:before, &:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #062033;
    width: 90px;
    margin: 0 17px;
    transform: translateY(-4px);
  }
}

.circle{
  width: 90px;
  height: 34px;
  border: 1px solid #4c76ff;;
  background-color: transparent;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:14px;
  i{
    font-size: 15px;
    color: #4c76ff;
  }
}

.section__paragraph_header{
  font-family: "Open Sans Semibold";
  font-size: 17px;
  color: #062033;
}
.section__paragraph_text{
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 17.62px;
  opacity: 0.7;
  color: #062033;
}
.card-features{
  background-color: transparent;
  text-align: left;
  margin-top:87px;
}
.cards-features{
  padding-bottom: 118px;
}

//About
.about{
  color: #282528;
  font-family: "Open Sans";
  .section__text{
    text-align: center;
    font-size: 15px;
    line-height: 30.15px;
    padding-top:87px;
    opacity: 1;
    &:before, &:after {
      display: none;
    }
  }
  .section__paragraph_header{
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 15.08px;
  }
  .section__paragraph_text{
    font-size: 11px;
    line-height: 20.1px;
    opacity: 1;
    color: #282528;
  }
  .circle{
    width: 90px;
    height: 34px;
    border: none;
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:14px;
    i{
      font-size: 34px;
      color: #282528;
    }
  }
  .card-features{
    padding-top: 15px;
    transition: 0.3s;
    &:hover{
      background-color: rgba(247, 227, 39, 0.4);
    }
  }
  .iphone{
    position:relative;
    img{
      &:nth-child(2) {
        position: absolute;
        right:70px;
        top:82px;
      }
    }
  }
  .after-section-text{
    padding-top: 68px;
    padding-bottom: 136px;
  }
}

//Works
.section__text_paragraph{
  font-family: "Lato-Thin";
  font-size: 14px;
  color: #062033;
  font-weight: 800;
  line-height: 17.75px;
}

.button{
  font-family: "Lato-Black";
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  height: 30px;
  padding: 2px 21px;
}
.buttons{
  margin-top:83px;
}
.focused{
  color:#fff;
  background-color: #4c76ff;
  border:2px solid #4c76ff;
  border-radius: 7px;
  transition: 0.3s;
}

div[val]{
  &:hover{
    img{
      filter:brightness(50%);
      transition: 0.4s;
      transform: scale(1.1);
      //JS SUDA
    }
    .text{
      display: block;
      width:100%;
      color:#fff;
      position: absolute;
      top:68px;
    }
  }
}
.photos{
 margin-top:85px;
  //delete snizu
  padding-bottom: 108px;
}
.work {
  .text{
    display: none;
  }
  .circle {
    width: 30px;
    height: 31px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-bottom: 21px;
    border:1px solid #fff;
    i {
      color: #fff;
    }
  }
}

//Team
.team-person{
  margin-top:100px;
  margin-bottom: 108px;
  img{
    filter: grayscale(1);
  }
  &:hover {
    //TO CHANGE
    .overlay {
      bottom: 0;
      height: 100%;
    }
    .team-person__heading{

    }
  }
}
.team-person__heading{
  color: #062033;
  font-family: "Open Sans - Semibold";
  font-size: 15px;
  line-height: 19.91px;
  margin-bottom: 0;
}
.team-person__paragraph{
  opacity: 0.56;
  color: #062033;
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 19.91px;
}

//Facts
.facts{
  background: url(../../img/facts_bg_vector.png)  no-repeat fixed , url(../../img/facts_back.png)  no-repeat fixed;
  background-size: cover;

  .section__title{
    padding-top: 75px;
  }
  .section__text{
    color: #fff;
    opacity: 1;
    margin-bottom: 22px;
    &:before, &:after {
      content: "";
      display: inline-block;
      border-top: 1px solid #fff;
      width: 68px;
      margin: 0 39px;
      transform: translateY(-4px);
    }
  }
  .circle{
    width: 98px;
    height: 98px;
    border: 2px solid #666666;
    i{
      font-size: 25px;
      color: #fff;
      opacity: 1;
    }
  }
  .text{
    margin-top: 38px;
    .section__paragraph_header{
      color: #ffffff;
      font-family: "Open Sans Semibold";
      font-size: 45px;
      margin-bottom: 14px;
    }
    .section__paragraph_text{
      font-family: "Open Sans";
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 118px;
    }
  }
}

//Discuss
.discuss{
  .section__text_paragraph{
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
    margin-top: 60px;
    margin-bottom: 77px;
  }
}